@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Light.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-LightItalic.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Regular.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Italic.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Medium.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-MediumItalic.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Bold.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-BoldItalic.woff2') format('woff2'), url('../assets/fonts/fira-sans/FiraSans-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
